# OS
._*
*.DS_Store

# IDEs
.idea
.vscode

# Cache
.cache
.pytest_cache

# Generated
/src/pyvecorg/_build
/src/pyvecorg/data/members_list.yml
/src/pyvecorg/static/img/avatars

# Private
/src/pyvecorg/google_service_account.json
