# OS
._*
*.DS_Store

# IDEs
.idea
.vscode

# Cache
.cache
.pytest_cache

# Generated
/pyvecorg/_build
/pyvecorg/data/members_list.yml
/pyvecorg/static/img/avatars

# Private
google_service_account.json
