[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "python pyvecorg/build.py"
test = "pytest"
freeze = "python pyvecorg freeze"
serve = "python pyvecorg serve"
deploy = "python pyvecorg deploy --push"

[packages]
flask = "*"
elsa = "*"
markdown = "*"
pyyaml = "*"
requests = "*"
python-slugify = "*"
pillow = "*"
gspread = "*"
oauth2client = "*"
markupsafe = "*"
werkzeug = "<4"  # werkzeug 3.0.0 removes .charset, which breaks Frozen-Flask, which breaks elsa

[dev-packages]
pipfile = "*"
pylama = "*"
pytest = "*"
jsonschema = "*"

[requires]
python_version = "3.9"
