[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=0.12.2"
elsa = "~=0.1.3"
markdown = "~=2.6.9"
pyyaml = "~=3.12"
requests = "~=2.20.1"
python-slugify = "~=1.2.5"
pillow = "~=5.2.0"

[dev-packages]
pipfile = "~=0.0.2"
pylama = "~=7.4.3"
pytest = "~=3.3.0"
jsonschema = "~=2.6.0"

[requires]
python_version = "3.7"

[scripts]
test = "pipenv run pytest"
freeze = "pipenv run python pyvecorg freeze"
serve = "pipenv run python pyvecorg serve"
deploy = "pipenv run python pyvecorg deploy --push"
