{% load positions %}
<ul id="nav" role="navigation">
	  <li><a href="/o-nas/">O nás</a>{% ifequal category.slug "o-nas" %}{% ifposition submenu for category nofallback %}{% position submenu for category nofallback %}{% endposition %}{% endifposition %}{% endifequal %}
</li>
	  <li><a href="/projekty/">Projekty</a>{% ifequal category.slug "projekty" %}{% ifposition submenu for category nofallback %}{% position submenu for category nofallback %}{% endposition %}{% endifposition %}{% endifequal %}
</li>
	  <li><a href="/spoluprace/">Spolupráce</a>{% ifequal category.slug "reference" %}{% ifposition submenu for category nofallback %}{% position submenu for category nofallback %}{% endposition %}{% endifposition %}{% endifequal %}
</li>
	  <li><a href="/kontakt/">Kontakt</a>{% ifequal category.slug "kontakty" %}{% ifposition submenu for category nofallback %}{% position submenu for category nofallback %}{% endposition %}{% endifposition %}{% endifequal %}</li>
</ul>

