/** RESET **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
header, footer, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** KONEC RESET **/

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  background:#fff;
}
body {
    width: 970px;
    margin:25px auto 0 auto;
    position:relative;
}
a {
  color:#0000ff;	
}
a:hover,a:focus,a:active {
  text-decoration:none;
}

/** HEADER **/
#header {
  margin:0 0 60px 0;	
}
#header .motto {
  position:absolute;
  top:0;
  right:0;
  color:#999;
  font-size:14px;
  font-style:italic;
  text-align:right;
}
/** END HEADER **/

/** MENU **/
ul#nav {
  background:#cc0000;
  -moz-border-radius:5px;
  border-radius:5px;
  position:absolute;
  width:968px;
  top:110px;
  font-size:15px;
  padding:5px;
}
ul#nav li {
  display:block;
  float:left;
  margin:0 15px 0 15px;	
}
ul#nav li a {
  color:#fff;
  text-decoration:none;
}
ul#nav li a.active {
  font-weight:bold;	
}
ul#nav ul {
  position:absolute;
  left:0;
  font-size:13px;
  line-height:25px;	
  border-top:1px solid #999;
  width:970px;
}
#hp ul#nav,#contacts ul#nav {
  height:30px;
}
/** END MENU **/

/** CONTENT **/
#content {
  padding:0 0 20px 0;	
}
#content h1 {
  font-size:22px;
  margin:0 0 15px 0;	
}
#content h2 {
  font-size:18px;
  margin:0 0 12px 0;
  color:#cc0000;
}
#content h3 {
  font-size:16px;
  margin:0 0 10px 0;	
}
#content p {
  margin:0 0 15px 0;	
}
a.button {
  display:inline-block;
  background:#ddd;
  -moz-border-radius:5px;
  border-radius:5px;
  height:30px;
  line-height:30px;
  padding:0 25px 0 25px;
  border:1px solid #999;
  text-decoration:none;
  font-weight:bold;
}
#content ul li {
  margin:0 0 8px 20px;
  list-style:disc;
}
#content ul.paginator {
  text-align:center;	
}
#content ul.paginator li {
  list-style:none;
  display:inline;
  margin:0;	
}
#content ul.check li {
  list-style:none;
  padding:0 0 0 20px;
  background:url(../img/icon/check.gif) left center no-repeat;
  margin:0 0 10px 0;	
}
#content .web-info {
  border:1px solid #cc0000;
  padding:10px;
  margin:20px 10px;
  background:#f9efef;
  -moz-border-radius:3px;
  border-radius:3px;
}
hr {
  height:1px;
  color:#ddd;
  background:#ddd;
  border:0;
  clear:both;
}
/** FOOT **/
#foot {
  clear:both;
  background:#eee;
  border:1px solid #ddd;
  -moz-border-radius:5px;
  border-radius:5px;
  display:table;
  width:968px;
  padding:3px;
  text-align:center;
  color:#999;
  font-size:12px;
}
#foot a {
    color:#cc0000;
}
/** END FOOT **/
.blind {
	position:absolute;
	left:-10000px;
	margin:-1000px 0 0 0;
	width:1px;
	height:1px;
}
.reset {
	border:0 none;
	clear:both;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
	width:0;
}
