<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">

        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="alternate" type="application/json" href="{{ url_for('api', lang=lang) }}">

        <meta property="og:image" content="{{ url_for('static', filename='img/cover.jpg', _external=True) }}">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@pyvec">
        <meta property="twitter:creator" content="@pyvec">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://use.fontawesome.com/6620d97d37.js"></script>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ meta.title }}</title>
        <meta name="description" content="{{ meta.claim|markdown|striptags }}">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <h1 class="col">
                        <a href="{{ url_for('index', lang=lang)}}">
                            <img height="50" src="{{ url_for('static', filename='img/pyvec.svg') }}" alt="Pyvec">
                        </a>
                    </h1>
                    <p class="lang col">
                        {% if lang == 'cs' %}
                            <a href="{{ url_for(this, lang='en') }}">English</a>
                        {% elif lang == 'en' %}
                            <a href="{{ url_for(this, lang='cs') }}">Česky</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% block cover %}
        <div class="cover">
            <div class="cover-black">
                <div class="container page-index">
                    <div class="claim">
                        {{ meta.claim|markdown }}
                    </div>

                    <h2 id="objectives">{{ objectives.heading }}</h2>
                    <div class="card-deck">
                        {% for objective in objectives.entries %}
                        <div class="card objective">
                            <h3 aria-hidden="true">
                                <i class="fa fa-{{ objective.icon }}" aria-hidden="true"></i>
                            </h3>
                            <div class="card-body">
                                <div class="card-text">
                                    {{ objective.text|markdown }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}
        <div class="container page-index">
            <h2 id="numbers">{{ numbers.heading }}</h2>
            <p class="numbers">
                {% for number in numbers.entries %}
                    <span class="number badge {% if number.icon %} number-{{ number.icon }}{% endif %}"{% if number.hint %} title="{{ number.hint }}"{% endif %}>
                        {% if number.icon %}
                            <i class="fa fa-{{ number.icon }}" aria-hidden="true"></i>
                        {% endif %}
                        {{ number|format_number_text }}
                    </span>
                {% endfor %}
            </p>

            <h2 id="projects">{{ projects.heading }}</h2>
            <div class="media">
                <div class="media-image">
                    <i class="fa fa-{{ projects.note.icon }}" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h3>{{ projects.note.heading }}</h3>
                     {{ projects.note.text|markdown }}
                </div>
            </div>
            <ul class="list row">
            {% for project in projects.entries %}
                <li class="list-item project col">
                    <div class="project-header project-header-{{ project.photo }}">
                        <img class="project-logo rounded-circle" src="{{ url_for('static', filename=project.logo) }}" alt="{{ project.name }}" height="100">
                        <h3>{{ project.name }}</h3>
                    </div>
                    <div class="project-info">
                        <p class="project-url">
                            <a href="{{ project.url }}">{{ project.url|url }}</a>
                        </p>
                        {{ project.description|markdown }}
                        <p class="project-pyvec-help">
                            <strong>{{ projects.pyvec_help_heading }}:</strong>
                            {% for help_item in project.pyvec_help %}
                                {% if loop.first %}
                                    {{ projects.pyvec_help[help_item]|capitalize -}}
                                {% else %}
                                    {{ projects.pyvec_help[help_item] -}}
                                {% endif %}
                                {%- if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </li>
                {% if loop.index is divisibleby 2 %}
                    <div class="w-100 d-block d-md-none"></div>
                {% endif %}
                {% if loop.index is divisibleby 3 %}
                    <div class="w-100 d-none d-md-block d-lg-block d-xl-block"></div>
                {% endif %}
            {% endfor %}
            </ul>

            <h2 id="supporters">{{ supporters.heading }}</h2>
            <div class="media">
                <div class="media-image">
                    <i class="fa fa-{{ supporters.note.icon }}" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h3>{{ supporters.note.heading }}</h3>
                    {{ supporters.note.text|markdown }}
                </div>
            </div>
            <ul class="list row">
                {% for supporter in supporters.entries|sort(attribute='name') %}
                <li class="list-item logo col">
                    <a href="{{ supporter.url }}" title="{{ supporter.name }}">
                        <img src="{{ url_for('static', filename=supporter.logo) }}" alt="{{ supporter.name }}" height="50">
                    </a>
                </li>
                {% endfor %}
            </ul>

            <h2 id="partners">{{ partners.heading }}</h2>
            <ul class="list row">
                {% for partner in partners.entries|sort(attribute='name') %}
                <li class="list-item logo col">
                    <a href="{{ partner.url }}" title="{{ partner.name }}">
                        <img src="{{ url_for('static', filename=partner.logo) }}" alt="{{ partner.name }}" height="50">
                    </a>
                </li>
                {% endfor %}
            </ul>

            <h2 id="members">{{ members.heading }}</h2>
            <div class="media">
                <div class="media-image">
                    <i class="fa fa-{{ members.note.icon }}" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h3>{{ members.note.heading }}</h3>
                    {{ members.note.text|markdown }}
                </div>
            </div>
            {% if members_list %}
                <ul class="list row members">
                    {% for member in members_list.board %}

                    <li class="list-item member col">
                        <img src="{{ url_for('static', filename=member.avatar_filename) }}" alt="{{ member.name }}" width="100" class="rounded-circle member-avatar">
                        <p class="member-profiles">
                            {% if member.github %}
                            <a href="https://github.com/{{ member.github }}" title="GitHub" class="icon">
                                <i class="fa fa-github" aria-hidden="true"></i><!--
                                --><span>GitHub</span><!--
                            --></a>
                            {% endif %}
                            {% if member.twitter %}
                            <a href="https://twitter.com/{{ member.twitter }}" title="Twitter" class="icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i><!--
                                --><span>Twitter</span><!--
                            --></a>
                            {% endif %}
                            {% if member.linkedin %}
                            <a href="https://linkedin.com/in/{{ member.linkedin }}" title="LinkedIn" class="icon">
                                <i class="fa fa-linkedin" aria-hidden="true"></i><!--
                                --><span>LinkedIn</span><!--
                            --></a>
                            {% endif %}
                        </p>
                        <p class="member-info">
                            <strong class="member-name">{{ member.nickname|default(member.name) }}</strong><br>
                            <small class="member-role">{{ members.roles[member.role] }}</small><br>
                        </p>
                    </li>
                    {% if loop.index is divisibleby 2 %}
                        <div class="w-100 d-block d-sm-none"></div>
                    {% endif %}
                    {% if loop.index is divisibleby 3 %}
                        <div class="w-100 d-none d-sm-block d-md-none"></div>
                    {% endif %}
                    {% if loop.index is divisibleby 5 %}
                        <div class="w-100 d-none d-md-block d-lg-block d-xl-block"></div>
                    {% endif %}

                    {% endfor %}
                </ul>
                <p class="note">
                    {{ members.list.total_count_text }}: <strong>{{ members_list.total_count }}</strong><br>
                    {{ members.list.gdpr_note }}
                </p>
                <ul class="list row members">
                    {% for member in members_list.public_members %}

                    <li class="list-item member col">
                        <img src="{{ url_for('static', filename=member.avatar_filename) }}" alt="{{ member.name }}" width="100" class="rounded-circle member-avatar">
                        <p class="member-profiles">
                            {% if member.github %}
                            <a href="https://github.com/{{ member.github }}" title="GitHub" class="icon">
                                <i class="fa fa-github" aria-hidden="true"></i><!--
                                --><span>GitHub</span><!--
                            --></a>
                            {% endif %}
                            {% if member.twitter %}
                            <a href="https://twitter.com/{{ member.twitter }}" title="Twitter" class="icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i><!--
                                --><span>Twitter</span><!--
                            --></a>
                            {% endif %}
                            {% if member.linkedin %}
                            <a href="https://linkedin.com/in/{{ member.linkedin }}" title="LinkedIn" class="icon">
                                <i class="fa fa-linkedin" aria-hidden="true"></i><!--
                                --><span>LinkedIn</span><!--
                            --></a>
                            {% endif %}
                        </p>
                        <p class="member-info">
                            <strong class="member-name">{{ member.nickname|default(member.name) }}</strong><br>
                        </p>
                    </li>
                    {% if loop.index is divisibleby 2 %}
                        <div class="w-100 d-block d-sm-none"></div>
                    {% endif %}
                    {% if loop.index is divisibleby 3 %}
                        <div class="w-100 d-none d-sm-block d-md-none"></div>
                    {% endif %}
                    {% if loop.index is divisibleby 5 %}
                        <div class="w-100 d-none d-md-block d-lg-block d-xl-block"></div>
                    {% endif %}

                    {% endfor %}
                </ul>
            {% else %}
                <p class="note">
                    {{ members.list.failure_text }}
                    <!-- To fix this, you need to run 'pipenv run build' -->
                </p>
            {% endif %}
        </div>
        {% endblock %}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col address">
                        <h3>{{ meta.address.heading }}</h3>
                        {{ meta.address.directions|markdown }}
                        <p>
                            E-mail: <a href="mailto:info@pyvec.org">info@pyvec.org</a>
                        </p>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col address">
                        <h3>{{ meta.billing_address.heading }}</h3>
                        {{ meta.billing_address.directions|markdown }}
                        <p>
                            {{ meta.reg_no.label }}: <a href="{{ meta.reg_no.link }}">{{ meta.reg_no.value }}</a><br>
                            {{ meta.databox_no.label }}: {{ meta.databox_no.value }}<br>
                        </p>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col address">
                        <h3>{{ meta.bank_account.heading }}</h3>
                        <p>
                            {% if lang == 'cs' %}
                                <a href="https://ib.fio.cz/ib/transparent?a={{ meta.bank_account.number }}">{{ meta.bank_account.number }}/{{ meta.bank_account.bank_branch }}</a><br>
                                {{ meta.bank_account.bank_name }}
                            {% else %}
                                IBAN: {{ meta.bank_account.iban }}<br>
                                SWIFT: {{ meta.bank_account.swift }}<br>
                                {{ meta.bank_account.bank_name }}<br>
                                <a href="https://ib.fio.cz/ib/transparent?a={{ meta.bank_account.number }}&amp;l=ENGLISH">Transaction history</a>
                            {% endif %}
                        </p>
                        <h3>{{ meta.downloads.heading }}</h3>
                        <p class="downloads">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <a href="{{ url_for('static', filename='bylaws.pdf') }}">{{ meta.downloads.bylaws }}.pdf</a>

                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <a href="https://docs.pyvec.org/operations/bylaws.html">{{ meta.downloads.bylaws }}</a>

                            <i class="fa fa-archive" aria-hidden="true"></i>
                            <a href="https://or.justice.cz/ias/ui/vypis-sl-firma?subjektId=760829">{{ meta.downloads.filing }}</a>

                            <br>

                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            <a href="https://github.com/pyvec/resources">{{ meta.downloads.resources }}</a>

                            <i class="fa fa-file-code-o" aria-hidden="true"></i>
                            <a href="{{ url_for('api', lang=lang) }}">{{ meta.downloads.json_data }}</a>
                        </p>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col">
                        <ul class="list profiles col d-flex justify-content-end">
                            {% for profile in profiles.entries %}
                            <li class="list-item icon">
                                <a href="{{ profile.url }}" title="{{ profile.name }}">
                                    <i class="fa fa-{{ profile.icon }}" aria-hidden="true"></i>
                                    <span>{{ profile.name }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <p class="extra-pages">
                            <a href="{{ url_for('privacy_policy', lang=lang) }}">{{ privacy_policy.title }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
