{% extends "_base.html" %}

{% macro lang_switch(name, url) %}
    <a href="{{ url }}">{{ name }}</a>
{% endmacro %}

{% block content %}

<nav class="navbar navbar-inverse navbar-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">pyvec.org</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% block lang_switch %}{% endblock %}
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
    <h1><img src="{{ url_for('static', filename='img/pyvec-logo.svg') }}" alt="Pyvec.org"></h1>
        <p>
            {% block lead_text %}
            {% endblock lead_text %}
        </p>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
            {% block goals_and_activities %}
            {% endblock goals_and_activities %}
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-3 sponsor-list">
            <h2>{% block sponsors_title %}{% endblock %}</h2>
            {% macro logo(name, alt, url) %}
                <div class="sponsor">
                    <a href="{{url}}">
                        <img src="{{ url_for('static',
                                    filename='sponsors/' + name + '-logo.png') }}"
                            alt="{{ alt }}">
                    </a>
                </div>
            {% endmacro %}
            {{ logo('red-hat', 'Red Hat', 'https://jobs.redhat.com') }}
            {{ logo('fragaria', 'Fragaria', 'https://www.fragaria.cz/') }}
            {{ logo('rosticz', 'Roští.cz', 'https://rosti.cz/') }}
            {{ logo('kiwicom', 'Kiwi.com', 'https://kiwi.com/') }}
            <div>
                <a href="mailto:info@pyvec.org" class="your-logo-here well">
                    {% block your_logo_here %}{% endblock %}
                </a>
            </div>
            {% block sponsors_thanks %}
            {% endblock sponsors_thanks %}
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
            {% block about_us %}
            {% endblock about_us %}
		</div>
	</div>

</div>

<footer>
<div class="container">
	<div class="row">
		<div class="col-md-4">
            {% block contact %}
            {% endblock contact %}
		</div>
		<div class="col-md-4">
			<h2>{% block address_title %}{% endblock %}</h2>
			<p>
				Pyvec o.s.<br>
				Hub Praha<br>
				Drtinova 10/557<br>
				Praha 5, Smíchov<br>
				150 00
			</p>
			<p>IČO: 22746668</p>
		</div>
		<div class="col-md-4">
            {% block account_info %}
            {% endblock account_info %}
		</div>
    </div>
</div>
</footer>

{% endblock content %}
