{% extends "_index_common.html" %}

{% block lang_switch %}
    {{ lang_switch('\N{EARTH GLOBE EUROPE-AFRICA} Česky', url_for('index')) }}
{% endblock %}

{% block lead_text %}
    Pyvec is a non-profit supporting open-source and Python-based technologies
    in the Czech Republic.
{% endblock lead_text %}

{% block goals_and_activities %}
    {% filter markdown %}
        ## Main goals of the organization
        ### bringing together people interested in programming,
        ### marketing of the Python programming language,
        ### introducing programming to young people,
        ### supporting open-source projects,
        ### development of own open-source solutions,
        ### organization of cultural and social events.

        <hr>

        ## Main supported activities

        ### [Pyvo meetups][pyvo]

        We organize informal programmers' meetups focused on presentations,
        networking, and education in three cities: Prague, Brno, and Ostrava.

        In 2016, attendance averaged about 30-100 people in Brno and Prague,
        and 10-30 in Ostrava.

        ### [PyCon CZ][pycon]

        The annual PyCon CZ conference is the largest gathering of Python
        programmers in the Czech Republic.

        PyCon CZ 2016 offered 54 přednášek a workshopů,
        and was attended by about 380 people.

        ### [PyLadies CZ][pyladies]

        We are an international mentorship group with a focus on helping more
        women become active participants and leaders in the Python open-source community.

        Czech chapters of PyLadies organize, among other things,
        free beginners' courses that last several months.
        Pyvec manages accounting, helps find mentors, and helps with
        writing learning materials.

        In 2016, about 120 women attended the courses.

        [pyvo]: https://pyvo.cz
        [pycon]: https://cz.pycon.org
        [pyladies]: http://pyladies.cz
    {% endfilter %}
{% endblock goals_and_activities %}

{% block sponsors_title %}
    Sponsors
{% endblock sponsors_title %}

{% block your_logo_here %}
    Your logo here!
{% endblock your_logo_here %}

{% block sponsors_thanks %}
    {% filter markdown %}
        We are very grateful to our sponsors for supporting Pyvec,
        and the whole Czech Python community.

        If you would like to support our activities as well, please
        [get in touch](mailto:info@pyvec.org)!
    {% endfilter %}
{% endblock sponsors_thanks %}

{% block about_us %}
    {% filter markdown %}
        ## About the organization

        Pyvec, o.s. is a non-profit organization (*občanské sdružení*)
        founded in Spring of 2012.

        The organization's charter, signed on the 21th of March, 2012,
        is available for download in
        [RTF]({{ url_for('static', filename='charter/stanovy.rtf') }}) and
        [PDF]({{ url_for('static', filename='charter/stanovy.pdf') }})
        formats.
        Note that the document is in Czech.
    {% endfilter %}
{% endblock about_us %}

{% block contact %}
    {% filter markdown %}
        ## Contacts

        E-mail: [info@pyvec.org](mailto:info@pyvec.org)<br>
        GitHub: [github.com/pyvec](http://github.com/pyvec)<br>
        Twitter: [@pyvec](http://twitter.com/pyvec)<br>
        Youtube: [www.youtube.com/pyvec](http://www.youtube.com/pyvec)<br>
    {% endfilter %}
{% endblock contact %}

{% block address_title %}
    Adddress
{% endblock address_title %}

{% block account_info %}
    {% filter markdown %}
        ## Bank account

        Transparent account:
        [2600260438](https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2600260438)/2010

        ### Foreign payment information

        * IBAN: CZ5020100000002600260438
        * BIC code/SWIFT: FIOBCZPPXXX
        * Bank address: Fio banka, a.s., V Celnici 1028/10, Praha 1
    {% endfilter %}
{% endblock account_info %}
