{% extends "_index_common.html" %}

{% block lang_switch %}
    {{ lang_switch('\N{EARTH GLOBE AMERICAS} English', url_for('index_en')) }}
{% endblock %}

{% block lead_text %}
    Pyvec je občanské sdružení propagující open source a Python technologie, především v ČR.
{% endblock lead_text %}

{% block goals_and_activities %}
    {% filter markdown %}
        ## Základní cíle sdružení
        ### sdružování osob se zájmem o programování,
        ### propagace programovacího jazyka Python,
        ### přiblížení programování mládeži,
        ### podpora opensource projektů (počítačového softwaru s&nbsp;otevřeným zdrojovým kódem),
        ### vývoj vlastních opensource řešení,
        ### organizování kulturně-společenských akcí.

        <hr>

        ## Hlavní podporované aktivity

        ### [Srazy Pyvo][pyvo]

        Neformální programátorské srazy zaměřené na odborné přednášky,
        networking nebo vzdělávání pořádáme měsíčně ve třech městech: Praze,
        Brně a Ostravě.

        V roce 2016 se účast v Praze a Brně se většinou pohybovala
        od 30 do 100 lidí; v Ostravě od 10 do 30.

        ### [PyCon CZ][pycon]

        Konference PyCon CZ je největší setkání programátorů jazyka
        Python v ČR.

        PyCon CZ 2016 nabídl 54 přednášek a workshopů,
        a přilákal zhruba 380 účastníků.

        ### [PyLadies CZ][pyladies]

        PyLadies jsou mezinárodní aktivita, která se snaží přiblížit
        IT ženám a ženy k IT.
        K tomuto účelu využívá programovací jazyk Python,

        České skupiny PyLadies pořádají mimojiné několikaměsíční
        bezplatné začátečnické kurzy.
        Občanské sdružení Pyvec pro ně spravuje účetnictví a
        pomáhá zajšťovat mentory a učební materiály.

        V roce 2016 se do začátečnických kurzů zapsalo zhruba 120 žen.

        [pyvo]: https://pyvo.cz
        [pycon]: https://cz.pycon.org
        [pyladies]: http://pyladies.cz
    {% endfilter %}
{% endblock goals_and_activities %}

{% block sponsors_title %}
    Sponzoři
{% endblock sponsors_title %}

{% block your_logo_here %}
    Místo pro Vaše logo
{% endblock your_logo_here %}

{% block sponsors_thanks %}
    {% filter markdown %}
        Děkujeme našim sponzorům za podporu občanského sdružení Pyvec
        a komunity kolem jazyka Python.

        Budeme velice rádi, pokud nás i Vy podpoříte v našich aktivitách.
        [Ozvěte se nám](mailto:info@pyvec.org).
    {% endfilter %}
{% endblock sponsors_thanks %}

{% block about_us %}
    {% filter markdown %}
        ## O sdružení

        Pyvec, o.s. je občanské sdružení založené na jaře roku 2012.

        ### Orgány sdružení

        #### Členská schůze

        Nejvyšším orgánem sdružení je členská schůze jeho členů,
        která se schází nejméně jednou ročně.

        #### Rada sdružení

        Rada sdružení je výkonným orgánem, který řídí činnost sdružení mezi
        zasedáními členské schůze a plní úkoly uložené ji členskou schůzí.

        V současné době jsou členy Rady sdružení tyto osoby:

        * Martin Bílek (předseda)
        * Jiří Bartoň
        * Aleš Zoulek
        * Jakub Vysoký
        * Vítězslav Pliska
        * Robin Gottfried
        * Jan Král

        #### Dozorčí rada
        Dozorčí rada je kontrolním orgánem sdružení. Kontroluje, jak jsou
        vykonávána rozhodnutí členské schůze a dohlíží na hospodaření sdružení.

        V současné době jsou členy Dozorčí rady tyto osoby:

        * Martin Burián
        * Filip Vařecha
        * Jiří Suchan

        ### Stanovy

        Stanovy sdružení přijaté 21. března 2012 jsou ke stažení ve formátech
        [RTF]({{ url_for('static', filename='charter/stanovy.rtf') }}) a
        [PDF]({{ url_for('static', filename='charter/stanovy.pdf') }}).
    {% endfilter %}
{% endblock about_us %}

{% block contact %}
    {% filter markdown %}
        ## Kontakty

        E-mail: [info@pyvec.org](mailto:info@pyvec.org)<br>
        GitHub: [github.com/pyvec](http://github.com/pyvec)<br>
        Twitter: [@pyvec](http://twitter.com/pyvec)<br>
        Youtube: [www.youtube.com/pyvec](http://www.youtube.com/pyvec)<br>
    {% endfilter %}
{% endblock contact %}

{% block address_title %}
    Adresa / sídlo
{% endblock address_title %}

{% block account_info %}
    {% filter markdown %}
        ## Bankovní spojení

        Transparentní účet:
        [2600260438](https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2600260438)/2010

        ### Zahraniční platební styk

        * IBAN: CZ5020100000002600260438
        * BIC kód/SWIFT: FIOBCZPPXXX
        * Adresa banky: Fio banka, a.s., V Celnici 1028/10, Praha 1
    {% endfilter %}
{% endblock account_info %}
